<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Bianco Theme</label>
    <label lang="en">Bianco Theme</label>

    <version>1.1.7</version>
    <link>http://8mylez.com</link>
    <author>8mylez</author>
    <compatibility minVersion="5.2.0" />

    <changelog version="1.1.7">
        <changes lang="de">Neue Thumbnailgröße fürs Artikel-Album wird bei Installation erstellt</changes>
        <changes lang="en">add new thumbnailsize for article-alcum upon installation</changes>
    </changelog>

    <changelog version="1.1.6">
        <changes lang="de">Standard Shopseiten-Gruppen werden bei Installation hinzugefügt</changes>
        <changes lang="en">default shopsite-groups are added upon installation</changes>
    </changelog>

    <changelog version="1.1.5">
        <changes lang="de">Kleine Design Bugfixes</changes>
        <changes lang="en">small design bugfixes</changes>
    </changelog>

    <changelog version="1.1.4">
        <changes lang="de">Kleine Design Bugfixes für IE</changes>
        <changes lang="en">small design bugfixes for ie</changes>
    </changelog>

    <changelog version="1.1.3">
        <changes lang="de">Bugfix Suche auf mobilen Geräten</changes>
        <changes lang="en">fix search menu on mobile</changes>
    </changelog>

    <changelog version="1.1.2">
        <changes lang="de">Ein Bug mit den Einkaufswelten wurde behoben.</changes>
        <changes lang="en">Fix a bug with the emotion worlds.</changes>
    </changelog>

    <changelog version="1.1.1">
        <changes lang="de">Kommentar bei Rechnungen für Österreich hinzugefügt</changes>
        <changes lang="en">add austria invoice comment</changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de">
            - Neues Plugin Logo hinzugefügt
            - Abo Commerce Design hinzugefügt
        </changes>
        <changes lang="en">
            - add new plugin logo
            - add abo commerce design
        </changes>
    </changelog>

    <changelog version="1.0.9">
        <changes lang="de">fix 2nd footer column items design</changes>
        <changes lang="en">fix 2nd footer column items design</changes>
    </changelog>

    <changelog version="1.0.8">
        <changes lang="de">Fix Theme Link Konfiguration</changes>
        <changes lang="en">fix theme link configuration</changes>
    </changelog>

    <changelog version="1.0.7">
        <changes lang="de">Update Funktion hinzugefügt</changes>
        <changes lang="en">add update function</changes>
    </changelog>

    <changelog version="1.0.6">
        <changes lang="de">Fancy Warenkorb Button hinzugefügt</changes>
        <changes lang="en">add fancy cart button</changes>
    </changelog>

    <changelog version="1.0.5">
        <changes lang="de">Social media fix</changes>
        <changes lang="en">Social media fix</changes>
    </changelog>

    <changelog version="1.0.4">
        <changes lang="de">Theme Konfiguration angepasst</changes>
        <changes lang="en">adjust theme configuration</changes>
    </changelog>

    <changelog version="1.0.3">
        <changes lang="de">
            - Fokus beim öffnen der Suche;
            - Artikelslider Hintergrund angepasst;
            - Badges in den EKW Boxen angepasst
        </changes>
        <changes lang="en">
            - add focus  on search open
            - change article slider background
            - adjust badge in emotion boxes
        </changes>
    </changelog>

    <changelog version="1.0.5">
        <changes lang="de">Einkaufswelten-Elemente für Eleganz- und Classic-Hover-Effekt</changes>
        <changes lang="en">Add emotion world elements for elegance and classic hover effetcs</changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de">Home Button entfernen</changes>
        <changes lang="en">remove home button</changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de">Bug im Filter der Suche behoben</changes>
        <changes lang="en">fix search filter bug</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Veröffentlichung</changes>
        <changes lang="en">Release</changes>
    </changelog>

</plugin>
