<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text" scope="locale">
            <name>thumbnail_size_small</name>
            <label lang="de">Thumbnailgröße für das Hover Image:</label>
            <label lang="en">Thumbnail-size for the hover image:</label>
            <value>200x200</value>
            <description lang="de">Diese Größe wird verwendet, um das Thumbnail für das Hover Bild zu generieren. (Standardgröße: 200x200)</description>
            <description lang="en">Used to generate the thumbnail to the right size. (Default size is: 200x200)</description>
        </element>
        <element required="true" type="text" scope="locale">
            <name>thumbnail_size_middle</name>
            <label></label>
            <value>600x600</value>
            <description lang="de">(Standardgröße: 600x600)</description>
            <description lang="en">(Default size is: 600x600)</description>
        </element>
        <element required="true" type="text" scope="locale">
            <name>thumbnail_size_large</name>
            <label></label>
            <value>1280x1280</value>
            <description lang="de">(Standardgröße: 1280x1280)</description>
            <description lang="en">(Default size is: 1280x1280)</description>
        </element>
    </elements>
</config>
