.breadcrumb--separator {
    img {
        display: inline-block;
    }

    i {
        display: none;
    }
}

.is--ctl-detail {
    .breadcrumb--list { 
        .breadcrumb--entry {
            .unitize(padding-top, 25);
            .unitize(padding-bottom, 15);
        }

        .breadcrumb--separator {
            .unitize(padding-top, 25);
            .unitize(padding-bottom, 15);
            .unitize(font-size, 20);
            color: #000;

            img {
                display: none;
            }
    
            i {
                display: inline-block;
            }
        }

        .breadcrumb--link {
            color: #000;
            padding: 0;
        }
    }
}

.content--breadcrumb {
    background-color: #eee;
}

.content--breadcrumb {
    .breadcrumb--button {
        color: #000;
        display: inline-block;
        .unitize(padding-left, 10);
        .unitize(margin-right, 10);
        padding-right: 0;
        .unitize(padding-top, 25);
        .unitize(padding-bottom, 15);
    
        .breadcrumb--title {
            color: #000;
            border-right: 1px solid #000;
            .unitize(padding-right, 10);
        }
    }
}

.emz-listing-breadcrumb {
    background-color: #fff;
    .unitize(height, 70);
    display: none;

    .content--breadcrumb {
        background-color: #fff;

        .breadcrumb--list {
            text-align: center;
        }

        .breadcrumb--entry, .breadcrumb--separator {
            display: inline-block;
            float: none;

            &:last-child {
                display: inline-block;
                float: none;
            }
        }

        .breadcrumb--link, .breadcrumb--separator {
            .unitize(line-height, 70);
            .unitize(font-size, 16);
            padding: 0;
            color: #999;
        }

        .breadcrumb--separator {
            .unitize(margin-left, 30);
            .unitize(margin-right, 30);
        }
    }
}

@media screen and(min-width: @tabletViewportWidth) { 
    .emz-listing-breadcrumb {
        display: block;
    }
}
