.product--table {
    .panel {
        border: 0;
        border-radius: 0;

        .panel--body {
            border: 0;
            border-radius: 0;
            color: #000;

            .table--header {
                border: 0;
                color: #000;

                .panel--th {
                    color: #000;
                }
            }

            .table--tr {
                border: 0;
            }
    
            .basket--footer {
                border: 0;
                background-color: #fff;
                color: #000;
            }
        }
    }
}