.is--ctl-detail {
    .content-main--inner {
        background: transparent;
        padding: 0
    }
}

.emz-product--details {
    display: flex;
    background-color: #fff;
    .unitize(padding-left, 25);
    .unitize(padding-right, 25);
    flex-direction: row;
    flex-wrap: wrap;

    .emz-detail-product-gallery {
        width: 100%;
        display: flex;

        .emz-detail-product-gallery-items {
            display: none;
        }

        .emz-detail-product-image {
            .image-slider--container {
                .unitize(height, 365);

                .image-slider--item {
                    .image--media {
                        height: 100%;
                        width: 100%;
                        display: block;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }   
                }
            }
        }
    }

    .emz-detail-product-details {
        width: 100%;
        position: relative;

        .emz-detail-product-details-name {
            .unitize(margin-top, 50);
            .unitize(margin-bottom, 20);
            .unitize(margin-right, 30);
            
            h1 {
                .unitize(font-size, 24);
                font-weight: 100;
                color: #000;
                .unitize(line-height, 34);
            }
        }

        .emz-detail-product-style {
            .unitize(padding-bottom, 24);
            .unitize(line-height, 30);
            border-bottom: 1px solid #eee;

            h2 {
                margin: 0;
                .unitize(font-size, 15);
                font-weight: 100;
                color: #000;
            }
        }

        .emz-detail-product-note-action {
            position: absolute;
            top: -400px;
            right: -22px;
            margin-top: 0;

            .link--notepad {
                border: 0;
                background: none;
                color: #000;

                .fa-heart-o {
                    .unitize(font-size, 20);
                }
            }
        }

        .emz-detail-product--configurator {
            border-bottom: 1px solid #eee;
            .unitize(height, 70);

            .configurator--form {
                .unitize(padding-top, 20);
                .unitize(padding-bottom, 20);
            }

            .emz-detail-product-variants {
                display: flex;

                .configurator--label, .configurator--select{
                    width: 50%;
                    .unitize(font-size, 15);
                }

                .configurator--select {
                    text-align: right;
                    .unitize(height, 34);
                
                    label {
                        display: inline-block;
                        cursor: pointer;
                        .unitize(margin-top, 4);
                        .unitize(margin-bottom, 2);
                        border-radius: 22px;
                        border: 1px solid #fff;

                        &.is--active, &:hover {
                            border: 1px solid #999;
                        }
                        
                        .emz-configurator--select-label {
                            .unitize(height, 22);
                            .unitize(width, 22);
                            .unitize(border-radius, 22);
                            border: 2px solid #fff;
                        }
                    }
                }
            }

            .configurator--label-groupname {
                color: #000;
                display: inline-block;
            }

            .configurator--label-selected-value {
                font-weight: 100;
                color: #000;
                display: inline-block;
            }
        }

        .emz-detail-product-properties {
            .unitize(padding-top, 20);
            .unitize(padding-bottom, 20);
            border-bottom: 1px solid #eee;
            .unitize(font-size, 15);
            color: #000;
            .unitize(line-height, 30);
            .unitize(height, 70);
        }

        .emz-detail-product-description-link {
            display: none;
        }

        .emz-detail-product-price-info {
            display: flex;
            .unitize(padding-top, 20);
            .unitize(padding-bottom, 20);
            color: #000;
            .unitize(line-height, 30);
            .unitize(height, 70);

            .emz-detail-product-info {
                width: 40%;
                .unitize(font-size, 15);

                a {
                    color: #000;
                }
            }

            .emz-detail-product-price {
                width: 60%;
                text-align: right;
                .unitize(font-size, 18);
                font-weight: 800;
            }

            .emz-detail-product-pseudoprice {
                color: #B51F29; 
                text-decoration: line-through;
            }
        }

        .emz-detail-product-buy-button {
            padding: 0;

            .buybox--button {
                background-color: #000;
                background-image: none;
                text-transform: uppercase;
                border: 0;
                border-radius: 0;
                .unitize(font-size, 13);
            }
        }

        .emz-detail-product-instock-note {
            .unitize(margin-top, 20);
            .unitize(margin-bottom, 20);
            text-align: center;
            .unitize(line-height, 30);

            .product--delivery .delivery--text-available {
                color: #80BA27;
            }

            .product--delivery .delivery--status-available {
                background-color: #80BA27;
            }
        }
    }

    .emz-detail-product-details-info {
        display: none;
    }

    .emz-detail-product-gallery-supplier {
        .unitize(height, 70);
        .unitize(width, 70);
        display: flex;
        align-items: center;
        .unitize(margin-bottom, 50);

        a {
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

.emz-product--details-description-headline-wrapper {
    width: 100%; 
    background-color: #eee;
    overflow: hidden;

    .emz-product--details-description-headline {
        .unitize(font-size, 24);
        .unitize(margin-top, 24);
        .unitize(margin-bottom, 24);
        .unitize(padding-left, 25);
        text-transform: uppercase; 
        color: #000; 
        font-weight: 100;   
    }
}

.emz-product--details-description-wrapper {
    width: 100%; 
    background-color: #fff; 
    display: flex; 
    .unitize(max-height, 723);

    .emz-product--details-description {
        .unitize(padding-top, 25);
        .unitize(padding-bottom, 25);

        &:first-child {
            padding-bottom: 0;
        }
    }

    .emz-product--details-description-box {
        width: 100%;

        &.emz-product--details-description-box-right {
            text-align: right;
            display: none;
        }

        img {
            display: inline-block;
        }

        .emz-product--details-description-content-wrapper {
            .unitize-padding(0, 25, 0, 25);
            color: #000;

            .emz-product--details-description-title {
                .unitize(font-size, 14);
                text-transform: uppercase;
                .unitize(line-height, 18);
                //.unitize(margin-top, 35);
                //.unitize(margin-bottom, 25);
                font-weight: bold;
            }

            .emz-product--details-description-slide {
                .unitize(margin-top, 25);
            }

            .emz-product--details-description-content {
                .unitize(line-height, 22);
                //.unitize(margin-bottom, 50);

                &:before{
                    content: "";
                    display: inline-block;
                    background-color: #666;
                    .unitize(width, 50);
                    .unitize(height, 1);
                    vertical-align: middle;
                    .unitize(margin-right, 8);
                }
            }

            .emz-product--details-description-content-additional {
                
                .emz-product--details-description-content-additional-icons {
                    text-transform: uppercase;
                    font-weight: bold;
                    .unitize(font-size, 12);
                    .unitize(line-height, 22);

                    ul {
                        list-style-type: none;

                        li {
                            .unitize(margin-top, 5);
                            display: flex;
                        }
                    }

                    .icon {
                        .unitize(font-size, 20);
                        display: flex;
                        .unitize(height, 20);
                        .unitize(width, 20);
                        .unitize(margin-right, 10);
                    }

                    .icon-label {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }       
}

.emz-product--details-recommendation-wrapper {
    .tab--container-list {
        .unitize(padding-top, 25);
        .unitize(padding-bottom, 25);

        .tab--container {
            margin: 0;
            .unitize(padding-bottom, 25);
            border: 0;

            &:last-child {
                padding-bottom: 0;
            }

            .tab--header {
                .unitize(padding-left, 25);
                .unitize(padding-right, 25);

                &.is--active {
                    border-bottom: 0;
                }

                .tab--title {
                    padding: 0;
                    color: #000;

                    .product--rating-count {
                        background: #000;
                    }
                }
            }
        }
    }

    .product-slider--arrow {
        font-family: FontAwesome;
        height: 100%;
        top: 0;
        margin: 0;
        display: flex;
        align-items: center;
        .unitize(font-size, 60);
        color: #000;
        .unitize(width, 90);
        border: 0;
        background: transparent;
        font-weight: 100;
        transition: all .3s;

        &:hover {
            transform: scale(1.1);
            transition: all .3s;
        }

        &.arrow--next {
            justify-content: flex-start;
            .unitize(padding-left, 10);

            &:before {
                content: "\f178";
            }
        }

        &.arrow--prev {
            justify-content: flex-end;
            .unitize(padding-right, 10);

            &:before {
                content: "\f177";
            }
        }
    }

    .product-slider--container {
        .product-slider--item {
            padding: 0;
        }
    }
}

@media screen and(min-width: @tabletViewportWidth) { 
    .is--ctl-detail {
        .content-main--inner {
            .unitize-padding(0, 10, 16, 10);
        }
    }

    .emz-product--details {
        .unitize(padding-left, 50);
        .unitize(padding-right, 50);

        .emz-detail-product-gallery {
            width: 65%;
            .unitize(padding-right, 50);
        }

        .emz-detail-product-details {
            width: 35%;

            .emz-detail-product-details-name {
                h1 {
                    .unitize(font-size, 28);
                }
            }

            .emz-detail-product-note-action {
                top: 0;
                .unitize(margin-top, 50);
                right: 0;
            }

            .emz-detail-product-description-link {
                color: #000;
                .unitize(padding-top, 20);
                .unitize(padding-bottom, 20);
                border-bottom: 1px solid #eee;
                .unitize(line-height, 30);
                .unitize(font-size, 15);
                .unitize(height, 70);

                .fa-angle-right {
                    .unitize(font-size, 18);
                }
            }

            .emz-detail-product-buy-button {
                .unitize(padding, 10);
                background-color: #eee;
            }

            .emz-detail-product-instock-note {
                .unitize(margin-bottom, 25);
            }

            .emz-detail-product-price-info {
                .emz-detail-product-price {
                    .unitize(font-size, 15);
                }
            }
        }
    }

    .emz-product--details-description-headline-wrapper {
        
        .emz-product--details-description-headline {
            .unitize(font-size, 24);
            .unitize(margin-top, 30);
            .unitize(margin-bottom, 30);
            .unitize(padding-left, 50);
        }
    }

    .emz-product--details-description-wrapper {
        .emz-product--details-description-box {
            width: 50%;

            &.emz-product--details-description-box-right {
                display: block;
            }

            .emz-product--details-description-content-wrapper {
                .unitize-padding(40, 50, 50, 50);
            }
        }
    }

    .emz-product--details-recommendation-wrapper {
        .tab--container-list {
            padding-bottom: 0;
    
            .tab--container {
                padding-bottom: 0;
            }
        }

        .tab--navigation {
            display: block;
            text-align: center;
            margin-bottom: 0;
    
            .tab--link {
                background: transparent;
                .unitize(font-size, 14);
                border: 0;
                color: #000;
    
                &:after{
                    content: '';
                    display: block;
                    .unitize(height, 2);
                    width: 0;
                    .unitize(top, 0);
                    position: relative;
                    background: #000;
                    margin: auto;
                    transition: width .5s ease, background-color .5s ease;
                }
        
                &:hover{
                    color: #000;
    
                    &:after{
                        width: 100%;
                        background-color: #000;
                    }
                }
    
                &.is--active {
                    &:after{
                        width: 100%;
                        background-color: #000;
                    }
                }
            }
    
            .product--rating-count-wrapper {
                display: none;
            }
        }

        .tab--header {
            display: none;
        }

        .tab-menu--cross-selling {
            .tab--container {
                display: none;
    
                &.has--content.is--active {
                    display: block;
                }
            }
        }

        .product-slider--container {
            .product-slider--item {
                border: 1px solid #F6F6F6;
    
                &:hover {
                    box-shadow: 0 10px 40px rgba(0,0,0,.1);
                    transition-duration: .275s;
                    transition-property: box-shadow;
                    transition-timing-function: cubic-bezier(0.4,0,.2,1);
                    z-index: 700;
                }
            }
        }
    }
}

@media screen and(min-width: @tabletLandscapeViewportWidth) { 
    .emz-product--details {
        .emz-detail-product-details-info {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .unitize(padding-top, 70);
            .unitize(padding-right, 60);
            .unitize(padding-bottom, 10);
            .unitize(padding-left, 80);
    
            .emz-detail-product-details-info-box {
                width: 50%;
                overflow: hidden;
                transition: max-height .3s;
    
                &.emz-detail-product-details-info-left {
                    .unitize(padding-left, 130);
                    .unitize(padding-right, 80);
                    border-right: 1px solid #000;
                }
    
                &.emz-detail-product-details-info-right {
                    .unitize(padding-left, 80);
                    .unitize(padding-right, 60);
                }
    
                .emz-detail-product-details-info-header {
                    color: #000;
                    text-transform: uppercase;
                    .unitize(font-size, 14);
                    .unitize(margin-top, 16);
                    .unitize(margin-bottom, 16);
                    font-weight: bold;
                }
    
                .emz-detail-product-details-info-content {
                    color: #000;
                    .unitize(font-size, 14);
                    .unitize(line-height, 22);
    
                    ul li {
                        list-style-type: none;
                    }
                }
            }
    
            .emz-detail-product-details-info-footer {
                width: 100%;
                text-align: center;
    
                .emz-detail-product-details-info-more {
                    cursor: pointer;
                    color: #000;
                    
                    i {
                        transition: all .3s;
                        .unitize(font-size, 60);
                    }
                }
            }
        }

        .emz-detail-product-gallery {
            .emz-detail-product-gallery-items {
                display: block;
            }
        }

        .emz-detail-product-price-info {
            .emz-detail-product-price {
                .unitize(font-size, 18);
            }
        }
    }

    .emz-product--details-description-wrapper {
        .emz-product--details-description-box {
            .emz-product--details-description-content-wrapper {
                .unitize-padding(40, 60, 110, 80);
            }
        }
    }

    .emz-product--details-recommendation-wrapper {
        .tab--container-list {
            .unitize(padding-bottom, 25);
    
            .tab--container {
                .unitize(padding-bottom, 25);
            }
        }
        .tab--navigation {
            .unitize(margin-bottom, 40);
        }
    }

    .emz-product--details-description-headline-wrapper {
        .emz-product--details-description-headline {
            .unitize(font-size, 30);
            .unitize(margin-top, 75);
            .unitize(margin-bottom, 40);
            .unitize(padding-left, 63);
        }
    }
}