.is--ctl-detail {
    .content-main--inner {
        background: transparent;
    }
}

.emz-product--details {
    display: flex;
    background-color: #fff;
    .unitize(padding-left, 50);
    .unitize(padding-right, 50);
    flex-direction: row;
    flex-wrap: wrap;

    .emz-detail-product-gallery {
        width: 65%;
        display: flex;
    }

    .emz-detail-product-details {
        width: 35%;
        position: relative;

        .emz-detail-product-details-name {
            .unitize(margin-top, 50);
            .unitize(margin-bottom, 20);
            .unitize(margin-right, 30);
            
            h1 {
                .unitize(font-size, 28);
                font-weight: 100;
                color: #000;
                .unitize(line-height, 34);
            }
        }

        .emz-detail-product-style {
            .unitize(padding-bottom, 24);
            .unitize(line-height, 30);
            border-bottom: 1px solid #eee;

            h2 {
                margin: 0;
                .unitize(font-size, 15);
                font-weight: 100;
                color: #000;
            }
        }

        .emz-detail-product-note-action {
            position: absolute;
            top: 0;
            right: 0;
            .unitize(margin-top, 50);

            .link--notepad {
                border: 0;
                background: none;
                color: #000;

                .fa-heart-o {
                    .unitize(font-size, 20);
                }
            }
        }

        .emz-detail-product--configurator {
            border-bottom: 1px solid #eee;
            .unitize(height, 70);

            .configurator--form {
                .unitize(padding-top, 20);
                .unitize(padding-bottom, 20);
            }

            .emz-detail-product-variants {
                display: flex;

                .configurator--label, .configurator--select{
                    width: 50%;
                    .unitize(font-size, 15);
                }

                .configurator--select {
                    text-align: right;
                    .unitize(height, 34);
                
                    label {
                        display: inline-block;
                        cursor: pointer;
                        .unitize(margin-top, 4);
                        .unitize(margin-bottom, 2);
                        border-radius: 22px;
                        border: 1px solid #fff;

                        &.is--active, &:hover {
                            border: 1px solid #999;
                        }
                        
                        .emz-configurator--select-label {
                            .unitize(height, 22);
                            .unitize(width, 22);
                            .unitize(border-radius, 22);
                            border: 2px solid #fff;
                        }
                    }
                }
            }

            .configurator--label-groupname {
                color: #000;
                display: inline-block;
            }

            .configurator--label-selected-value {
                font-weight: 100;
                color: #000;
                display: inline-block;
            }
        }

        .emz-detail-product-properties {
            .unitize(padding-top, 20);
            .unitize(padding-bottom, 20);
            border-bottom: 1px solid #eee;
            .unitize(font-size, 15);
            color: #000;
            .unitize(line-height, 30);
            .unitize(height, 70);
        }

        .emz-detail-product-description-link {
            color: #000;
            .unitize(padding-top, 20);
            .unitize(padding-bottom, 20);
            border-bottom: 1px solid #eee;
            .unitize(line-height, 30);
            .unitize(font-size, 15);
            .unitize(height, 70);

            .fa-angle-right {
                .unitize(font-size, 18);
            }
        }

        .emz-detail-product-price-info {
            display: flex;
            .unitize(padding-top, 20);
            .unitize(padding-bottom, 20);
            color: #000;
            .unitize(line-height, 30);
            .unitize(height, 70);

            .emz-detail-product-info {
                width: 70%;
                .unitize(font-size, 15);

                a {
                    color: #000;
                }
            }

            .emz-detail-product-price {
                width: 30%;
                text-align: right;
                .unitize(font-size, 18);
                font-weight: 800;
            }
        }

        .emz-detail-product-buy-button {
            .unitize(padding, 10);
            background-color: #eee;

            .buybox--button {
                background-color: #000;
                background-image: none;
                text-transform: uppercase;
                border: 0;
                border-radius: 0;
                .unitize(font-size, 13);
            }
        }

        .emz-detail-product-instock-note {
            .unitize(margin-top, 20);
            text-align: center;
            .unitize(line-height, 30);

            .product--delivery .delivery--text-available {
                color: #80BA27;
            }

            .product--delivery .delivery--status-available {
                background-color: #80BA27;
            }
        }
    }

    .emz-detail-product-details-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .emz-detail-product-details-info-box {
            width: 50%;
            .unitize(max-height, 140);
            overflow: hidden;
            transition: max-height .3s;
        }

        .emz-detail-product-details-info-footer {
            width: 100%;

            .emz-detail-product-details-info-more {
                cursor: pointer;
                
                i {
                    transition: transform .3s;
                    .unitize(font-size, 60);
                }
            }
        }
    }

    .emz-detail-product-gallery-supplier {
        .unitize(height, 70);
        .unitize(width, 70);
        display: flex;
        align-items: center;
        .unitize(margin-bottom, 50);

        a {
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}