body {
    background-color: #eee;
}

.content {
    float: none;
}

.content-main {
    .unitize(margin-top, @emz-navigation-line-height-mobile + 20);
}

.is--ctl-listing{
    .content-main.emz-sub-navigation-active {
        .unitize(margin-top, @emz-navigation-line-height-mobile + 60);
    }

    .content-main--inner {
        padding: 0;
    }

    .content-main {
        box-shadow: none;
    }
}

.is--ctl-detail {
    .content-main {
        .unitize(margin-top, @emz-navigation-line-height-mobile);
        box-shadow: none;
    }
}

@media screen and(min-width: @tabletLandscapeViewportWidth) {
    .is--ctl-detail {
        .content-main {
            margin-top: 0;
        }
    }

    .content-main {
        .unitize(margin-top, @emz-navigation-line-height + 20);
    }

    .is--ctl-listing{
        .content-main.emz-sub-navigation-active {
            .unitize(margin-top, @emz-navigation-line-height + 50);
        }
    }

    .emz-detail-conversion-bar {
        .unitize(margin-top, @emz-navigation-line-height-mobile + 60);
    }
}
