.box--emzslider {
    .product--badges{
        position: relative;

        .product--badge {
            float: none;
        }

        .badge--recommend {
            display: none;
        }
    } 
}